//costum button jumbotron
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600&display=swap');

$main-font: 'Baloo Tamma 2',
sans-serif;
$primary:#fe423f;
$black: #232323;
$white:#fefefe;
body {
  font-family: 'Righteous', cursive;
}

nav:after {
    content: "";
    clear: both;
    display: block;
  }
  
  nav a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
  }
  
  nav ul ul {
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 100%;
  }
  
  nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  nav > ul > li {
    position: relative;
    margin: 1px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  
  nav ul ul li + li {
    border-top: 1px solid white;
  }
  
  nav ul li a {
    background-color: silver;
    padding: 10px 20px;
    color: grey;
    text-align: center;
  }
  
  nav > ul > li > a {
    background-color: #3f464c;
    color: white;
  }
  
  nav ul ul a {
    background-color: #fefefe;
    color: white;
  }
  
  
  .titre {
    font-family: 'Righteous', cursive;
  }
  
  .sous-titre {
    font-family: 'Righteous', cursive;
  }
  
  span {
    color: white;
  }
